{% stylesheets 'bundles/gagauziaextension/css/style.css'
filter="cssrewrite" %}
<link href="http://192.168.12.118{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
<div class="main">
    <div class="top">

        <div class="message">
            <div class="message-arrow"></div>
            <p class="message-text">Bun&#259;, <br>Vreau sa te ajut!</p>
        </div>
    </div>
</div>